.player {
  min-height: 30vh;
  // background-color: #ffffe0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.time-control {
  width: 60%;
  // background-color: lightgreen;
  display: flex;
  input {
    width: 100%;
    padding: 1rem 2rem;
  }
  p {
    padding: 1rem;
  }
}

.play-control {
  width: 40%;
  // padding: 3rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  svg {
    cursor: pointer;
  }
}

.active {
  color: #942edf;
}
.active:hover {
  color: #9661bd;
}

.inactive {
  color: #6d719a;
}
.inactive:hover {
  color: #942edf;
}

.time {
  color: #6d719a;
}

input[type='range'] {
  background-color: #c8ddf6;
  height: 34px;
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
}
input[type='range']:focus {
  outline: none;
}
input[type='range']::-webkit-slider-runnable-track {
  width: 100%;
  height: 6px;
  cursor: pointer;

  background: #6d719a;
  border-radius: 50px;
}
input[type='range']::-webkit-slider-thumb {
  border: 2px solid #6d719a;
  height: 23px;
  width: 23px;
  border-radius: 23px;
  background: #942edf;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7px;
}
input[type='range']:focus::-webkit-slider-runnable-track {
  background: #942edf;
}
input[type='range']::-moz-range-track {
  width: 100%;
  height: 6px;
  cursor: pointer;

  background: #6d719a;
  border-radius: 50px;
}
input[type='range']::-moz-range-thumb {
  border: 2px solid #6d719a;
  height: 23px;
  width: 23px;
  border-radius: 23px;
  background: #942edf;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7px;
}

input[type='range']:focus::-ms-fill-lower {
  background: #205928;
}
input[type='range']:focus::-ms-fill-upper {
  background: #205928;
}
