.song-container {
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  img {
    width: 300px;
    max-height: 300px;
    border-radius: 50%;
    border: 5px solid #6d719a;
  }
}

.infos {
  display: flex;
  flex-direction: column;
  align-items: center;
  h2 {
    padding-top: 50px;
  }
  p {
    font-size: 1rem;
  }
}

.rotate {
  animation: rotation 15s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
