* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // background-color: #0e112d;
  font-family: 'Roboto', sans-serif;
}

.glass {
  background: rgba(74, 144, 226, 0.3);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4.5px);
  -webkit-backdrop-filter: blur(4.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

@import './player';
@import './song';
@import './PlaylistSong';
@import './Playlist';
